
body, html {
  position: relative;
  height: 100%;
}

body {
  background-color: $off-white;
  padding: 0;
  margin: 0;
}

.sidepanel {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 200px;
  z-index: 10;
}

.content {
  padding: 40px 20px 40px 220px;
}

.flash-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  line-height: 40px;
  z-index: 100;
}

@media (max-width: $breakpoint-phone) {

  .sidepanel {
    left: -200px;

    &.open {
      left: 0;

      .menu-button {
        right: 0;
        color: $white;
      }
    }
  }

  .content {
    padding-left: 20px;
  }
}
