.release {
  padding: 20px 0;
  width: 660px;
  max-width: 100%;
  margin: 0 auto;
}
.release:after {
  content: "";
  display: table;
  clear: both;
}
.release-artwork {
  width: 300px;
  height: auto;
  max-width: 100%;
  float: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 7px;
  line-height: 0;
}
.release-artwork img {
  width: 300px;
  height: auto;
  max-width: 100%;
}
.release-description {
  box-sizing: border-box;
  width: 360px;
  max-width: 100%;
  float: left;
  padding: 3px 20px 0;
}
.release-date {
  color: #697e81;
}
.release-links {
  padding: 20px 0 16px;
  text-align: left;
}
.release-links a {
  display: inline-block;
  background-color: #5e7073;
  color: #fff;
  padding: 7px 13px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.release-links a:hover {
  background-color: #050608;
}

@media (max-width: 899px) {
  .release {
    width: 300px;
    max-width: 100%;
  }
  .release-links {
    text-align: center;
  }
}
