.schedule {
  width: 100%;

  .event {
    border-bottom: $grey solid 1px;

    .summary {
      position: relative;
      padding-right: 50px;

      .information {
        width: 100%;

        .venue-name, .venue-address, .date {
          box-sizing: border-box;
          display: inline-block;
          width: 25%;
          padding: 20px;
        }

        .venue-address {
          width: 50%;
        }
      }

      .expand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        text-align: center;
        cursor: pointer;
      }
    }

    .details {
      display: none;
      padding: 20px;
    }

    &.expanded {
      .details {
        display: block;
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {

  .schedule .event {
    padding: 10px 0;

    .summary .information {

      .venue-name, .venue-address, .date {
        display: block;
        width: auto;
        padding: 5px;
      }
    }
  }
}
