.schedule
  width: 100%

  .event
    border-bottom: $grey solid 1px

    .venue-name, .venue-address, .date
      box-sizing: border-box
      display: inline-block
      width: 20%
      padding: 20px

    .venue-address
      width: 60%
