%h1 Wolfgang Wallace Schedule

.schedule
  - @scheduled_shows.each do |show|
    .event
      .venue-name>
        = link_to show['venue']['name'], show['venue']['url'], target: '_blank'
      .venue-address>
        = link_to show['venue']['address'], show['venue']['address_url'], target: '_blank'
      .date>
        = show['date'].strftime("%A, %B %e, %Y")
