%h1 Wolfgang Wallace Schedule

.schedule
  - @scheduled_shows.each do |show|
    - if ShowService.new(show).future?
      .event
        .venue-name>
          - if show['private']
            = show['venue']['name']
          - else
            = link_to show['venue']['name'], show['venue']['url'], target: '_blank'
        .venue-address>
          - if show['private']
            %i.fa.fa-lock
            Private Show
          - else
            = link_to show['venue']['address'], show['venue']['address_url'], target: '_blank'
        .date>
          = show['date'].strftime("%A, %B %e, %Y")
