%h1 Wolfgang Wallace Shows

- if @scheduled_shows.length == 0
  %p.center More Shows Coming Soon!

.schedule
  - @scheduled_shows.each do |show|
    .event
      .venue-name>
        - if show.private?
          = show.venue_name
        - else
          = link_to show.venue_name, show.venue_url, target: '_blank'
      .venue-address>
        - if show.private?
          %i.fa.fa-lock
          Private Show
        - else
          = link_to show.venue_address, show.venue_address_url, target: '_blank'
      .date>
        = show.date.strftime("%A, %B %e, %Y")
