%h1 Wolfgang Wallace Videos

- @youtube_videos.each do |video|
  .iframe-container.video
    %iframe{width: '560', height: '315', src: "https://www.youtube.com/embed/#{video}", frameborder: '0', allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: 'allowfullscreen'}
